* {
    margin: 0px;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../src/font/Gilroy-Regular.woff');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../src/font/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../src/font/Gilroy-Bold.woff');
    src: local('Gilroy-Bold'), local('Gilroy-Bold'),
    url('../src/font/Gilroy-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {


    background-color: blue;
}


h1 {
    font-family: Gilroy-Bold;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-family: Gilroy;
    font-size: 18px;
}

h3 {
    font-family: Gilroy;
    font-size: 10px;
}

hr {
    background: #F0F4F7;
    opacity: 0.5;
}





.papa{
    display: flex;
    background-color: yellow;
    margin: 0 auto;
    max-width: 1060px;
    justify-content: space-around;

}
.div{
    width: 400px;
    height: 300px;
    background-color: red;
}
.circle{
    width: 24px;
    height: 24px;
    background-color: gold;
    border-radius: 50%;
}
footer{
    background-color: #313335;
    padding-top: 135px;
}
ul{
    color: #FFFFFF;
    font-size: 14px;
}

li{
    color: #A8B3C2;
    font-size: 12px;
}
.footer_list{
    display: flex;
    justify-content: space-around;
}
