* {
  margin: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Regular.woff");
  src: local("Gilroy Regular"),
  local("Gilroy-Regular"),
  url("./font/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./font/Gilroy-Bold.woff");
  src: local("Gilroy-Bold"),
  local("Gilroy-Bold"),
  url("./font/Gilroy-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
}

.p-about_us {
  font-family: "Roboto";
  color: #6e7680;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 28px 10px 0;
}

.p-about_us-menu {
  font-family: "Roboto";
  color: #6e7680;
  font-size: 14px;
  line-height: 21px;
  margin-top: 16px;
  margin-bottom: 6px;

}

h1 {
  font-family: Gilroy-Bold;
  font-size: 48px;
  font-weight: bold;
}

.h1 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

h2 {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: normal;
}

.h2-framework {
  margin-top: -1px;
}

.h2h2 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin: 16px 0;
}

.fire {
  margin-left: 10px;
}


h3 {
  font-family: Gilroy-Bold;
  font-size: 10px;
  color: #902156;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

x
h4 {
  font-family: Gilroy;
  font-size: 14px;
  color: #fff;
}

.h4-footer {
  font-family: Gilroy;
  font-size: 14px;
  color: #fff
}

.h5 {
  font-family: Gilroy-Bold;
  font-size: 14px;
  color: #fff;
  padding: 12px 0;
}

hr {
  background: #f0f4f7;
  opacity: 0.5;
  margin: 16px 0;
}

.img-candy {
  padding-left: 30px;
}

.content {
  display: flex;
  max-width: 1090px;
  margin: 0 auto;

}

article {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.about_us {
  width: 470px;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
}

.menu {
  margin-top: 120px;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #f0f4f7;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.tabs {
  display: inline-flex;
  justify-content: space-between;
  padding-right: 46px;
}

.circle_green {
  width: 24px;
  height: 24px;
  background-color: #f0f4f7;
  border-radius: 50%;
  border: 2px solid #6bca3e;
  cursor: pointer;
  display: flex;
  justify-content: center
}

footer {
  background-color: #313335;
  margin-top: 60px;
}

.row {
  display: flex;
  max-width: 1090px;
  margin: 0 auto;
  flex-direction: column;
}

ul {
  color: #fff;
  font-size: 14px;
  padding: 0;
  list-style-type: none;
  max-width: 215px;
}

li {
  color: #a8b3c2;
  font-size: 12px;
  padding: 0;
  font-family: "Roboto";
}

.footer_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 75px;
}

.signature {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  font-size: 11px;
  font-family: "Roboto";
  padding-top: 30px;
}

span {
  text-decoration: none;
  color: green;
}

a {
  text-decoration: none;
  color: green;
  font-family: "Roboto";
}

.framework {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 10px;
}

.link {
  font-family: Gilroy-Bold;
  font-size: 10px;
  color: #313335;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: #fff;
  justify-content: flex-end;
  border: 2px solid #e2eaf0;
  cursor: pointer;
  padding: 6px 24px;
  letter-spacing: 0.1em;
  margin-bottom: 2px;
  margin-right: 10px;
}

.points {
  background-color: #fff;
  border: none;
  max-width: 4px;
  max-height: 16px;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 5px;
}

.framework_points {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.all_candy {
  background-color: #902156;
  display: flex;
  border-radius: 22px;
  justify-content: center;
  margin-top: 40px;
  cursor: pointer;
  border: none;
  width: 100%;
}

label {
  border-radius: 30px;
}

input {
  background: #f0f4f7;
  border: none;
  border-radius: 30px;
  height: 60px;
  width: 100%;
  padding-left: 30px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.entry_field {
  max-width: 470px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.email_button {
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #e2eaf0;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

input:hover {
  background: #e2eaf0;
}

input:focus {
  background: #fff;
  border: 2px solid #e2eaf0;
  box-sizing: border-box;
  padding-left: 28px;
}

/*input:invalid {*/
/*background: rgba(218, 67, 83, 0.1);*/
/*border: 2px solid rgba(218, 67, 83, 0.4);*/
/*box-sizing: border-box;*/
/*padding-left: 28px;*/
/*color: #DA4353;*/
/*}*/

.email-input:valid {
  background: #fff;
  border: 2px solid #6bca3e;
  box-sizing: border-box;
  padding-left: 28px;
  color: #313335;
}
